<section class="bg-primary bg-dark" style="background-color: black;" id="about">
    <div class="container">
<!--table style="background-color: black; font-size: 20px;  color: white; left: 0px;">
<tr><th>Instructions:</th></tr>
<tr><td> </td><td>-</td><td></td><td>Do or execute all the programs locally on your system and check the efficiency by yourself.</td></tr>
<tr></tr>
<tr><td> </td><td>-</td><td></td><td>The first three lines of code must contain your Name, Roll.No in comments.</td></tr>
<tr></tr>
<tr><td> </td><td>-</td><td></td><td>You can submit the code any number of times, but the last submission will be taken.</td></tr>
<tr><td> </td><td>-</td><td></td><td>Submit the code to <a href="mailto:neerukondapuneeth@vardhaman.org">neerukondapuneeth@vardhaman.org</a></td></tr>
<tr><td> </td><td></td><td>=></td><td> Mailing format: </td></tr>
<tr><td></td><td></td><td>&nbsp;&nbsp;&nbsp;Subject&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>&nbsp;&nbsp;&nbsp;&nbsp;Program number and Name Eg: 1.Password Generator</td></tr>
<tr><td></td><td></td><td>&nbsp;&nbsp;&nbsp;Body&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>&nbsp;&nbsp;&nbsp;&nbsp;Name, Roll.No Eg: A.Student, 17881A0500</td></tr>
<tr><td></td><td></td><td>&nbsp;&nbsp;&nbsp;Attachments&nbsp;:</td><td>&nbsp;&nbsp;&nbsp;&nbsp;Attach the code.</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td></tr>
</table-->
    <p style="font-size: 20px;">Instructions:</p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp; Do or execute all the programs locally on your system and check the efficiency by yourself.</p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp; The first three lines of code must contain your Name, Roll.No in comments.</p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp; You can submit the code any number of times, but the last submission will be taken.</p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp; Submit the code to <a href="mailto:neerukondapuneeth@vardhaman.org">neerukondapuneeth@vardhaman.org</a></p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp; Mailing format:</p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =>&nbsp;&nbsp;&nbsp;Subject&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>&nbsp;&nbsp;&nbsp;&nbsp;Program number and Name Eg: 1.Password Generator</p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Body&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td><td>&nbsp;&nbsp;&nbsp;&nbsp;Name, Roll.No Eg: A.Student, 17881A0500</p>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attachments&nbsp;:</td><td>&nbsp;&nbsp;&nbsp;&nbsp;Attach the code. </p>

    </div>
</section>
