<style>
    i {
  border: solid cornsilk;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
</style>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>FOSS+CyberSync Hackathon</h1>
            <hr>
            <!--p style="color: cornsilk;">Realistic problems are made for this hackathon for letting students know the real world scenarios.</p-->
            
            <!--p style="color: cornsilk; font-size: 20px; font-weight: bold;">Hosted on 26th March 2020, 10:00 AM to 8:00 PM</p-->
            <!--p style="color: cornsilk; font-size: 18px; font-weight: bold;">NOTE: Questions will be posted on 26th March 2020, 8:00 AM</p-->
            <img src="clogo.jpg" height="120px" width="95px"><br>
            <p style="color: cornsilk; font-size: 50px; font-weight: bold;">Hackathon started, till 8:00 PM</p>
            <p style="color: cornsilk; font-size: 45px; font-weight: bold;">Download questions <a href="https://drive.google.com/file/d/1-5kO_Nq3ga_m6K6WJSanpJsrIfZ_BgK_/view?usp=sharing">HERE</a></p>
            <p style="color: cornsilk; font-size: 21.5px; font-weight: bold;">Randomly check website for any maybe updates.</p>
            <p style="color: cornsilk; font-size: 21px; font-weight: bold;">Check the website at 8:00 PM for answsers for some questions.</p>
            <br>
            <a href="#about" class="btn btn-xl page-scroll" style="font-size: 50px;"><i class="arrow down"></i></a>
        </div>
    </div>
</header>
