<style>
    i {
  border: solid cornsilk;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
</style>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>FOSS+CyberSync Hackathon</h1>
            <hr>
            <p style="color: cornsilk;">Realistic problems are made for this hackathon for letting students know the real world scenarios.</p>
            <br>
            <p style="color: cornsilk; font-size: 20px; font-weight: bold;">NOTE: Questions will be posted on 25th March 2020, 8:00 AM</p>
            <!--img src="../clogo.jpg" height="120px" width="95px"><br><br>
            <p style="color: cornsilk; font-size: 50px; font-weight: bold;">Hackathon started</p>
            <p style="color: cornsilk; font-size: 22px; font-weight: bold;">Questions at</p>
            <br-->
            <a href="#about" class="btn btn-xl page-scroll" style="font-size: 50px;"><i class="arrow down"></i></a>
        </div>
    </div>
</header>
