<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Directions</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
    <p style="font-size: 18px;">You can use Internet, but</p>
    <p style="font-size: 18px;">&nbsp; - &nbsp; remember do not copy the programs.</p>
    <p style="font-size: 18px;">&nbsp; - &nbsp; do not use the in-built functions or libraries which will finish the program in just few lines.</p>
    </div>
</section>